
@{
    ViewData["Title"] = "Index";
}

<!-- Page Title Start -->
<section id="Page-Title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h5 class="page-title">SiteMap</h5>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>SiteMap</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->
<!-- SiteMap Start -->
<section id="SiteMap">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-8">
                <div class="media">
                    <img src="~/Assets/image/SiteMap.jpeg" alt="">
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat qui, nobis facilis, harum atque sit minima aliquid deleniti a fuga, laborum iure. Aperiam, quos ipsa libero expedita quibusdam cumque!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SiteMap End -->
