@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Update Category
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <div class="intro-y box p-5">
            <form asp-area="Admin" asp-controller="AdmCategory" asp-action="Update" method="post">
                <div asp-validation-summary="All" style="color:red"></div>
                <input asp-for="Id" hidden />
                <input asp-for="ImageFile" hidden />
                <div>
                    <label asp-for="Name">Category Name</label>
                    <input type="text" asp-for="Name" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>
                <div>
                    <label asp-for="ImageFile">Image</label>
                    <img src="~/Uploads/Images/@Model.MainImage"  />
                    <input asp-for="ImageFile" class="input w-full border mt-2">
                </div>
                <div class="text-right mt-5">
                    <a type="button" class="button w-24 border text-gray-700 mr-1" asp-area="Admin" asp-controller="AdmCategory" asp-action="Index">Cancel</a>
                    <button type="submit" class="button w-24 bg-theme-1 text-white">Update</button>
                </div>
            </form>
        </div>
        <!-- END: Form Layout -->
    </div>
</div>

