@model Social
@{
    ViewData["Title"] = "Create";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Create Social
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <div class="intro-y box p-5">
            <form asp-area="Admin" asp-controller="AdmSocial" asp-action="Create" method="post">
                <div asp-validation-summary="All" style="color:red"></div>
                <div>
                    <label asp-for="Name"> Name</label>
                    <input type="text" asp-for="Name" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>
                <div>
                    <label asp-for="Link"> Link</label>
                    <input type="text" asp-for="Link" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Link" style="color:red"></span>
                </div>
                <div>
                    <label asp-for="Icon"> Icon</label>
                    <input type="text" asp-for="Icon" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Icon" style="color:red"></span>
                </div>
                <div>
                    <label asp-for="Color"> Color</label>
                    <input type="text" asp-for="Color" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Color" style="color:red"></span>
                </div>
                <div>
                    <label asp-for="Background">Background Color</label>
                    <input type="text" asp-for="Background" class="input w-full border mt-2" placeholder="Name">
                    <span asp-validation-for="Background" style="color:red"></span>
                </div>
                <div class="text-right mt-5">
                    <a type="button" class="button w-24 border text-gray-700 mr-1" asp-area="Admin" asp-controller="AdmSocial" asp-action="Index">Cancel</a>
                    <button type="submit" class="button w-24 bg-theme-1 text-white">Create</button>
                </div>
            </form>
        </div>
        <!-- END: Form Layout -->
    </div>
</div>

