@model List<News>
@{
    ViewData["Title"] = "Index";
}

<section id="Tech-Page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pd-top-50">
                <div class="row">
                    @foreach (var item in Model)
                    {

                            <div class="col-lg-4 col-md-6">
                                <div class="single-post-wrap style-box">
                                    <div class="thumb">
                                        <img src="~/Uploads/Images/@item.MainImage" alt="img">
                                    </div>
                                    <div class="details">
                                        <div class="post-meta-single mb-4 pt-1">
                                            <ul>
                                                <li><a class="tag-base tag-light-blue" href="#">Tech</a></li>
                                                <li><i class="fa fa-user"></i>John R.bert</li>
                                            </ul>
                                        </div>
                                        <h6 class="title"><a asp-controller="Category" asp-action="Details" asp-route-newsid="@item?.Id">@item?.Title</a></h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipi elit</p>
                                        <a class="btn btn-base mt-4" asp-controller="Category" asp-action="Details" asp-route-newsid="@item?.Id">Read more</a>
                                    </div>
                                </div>
                            </div>
                        

                    }
                </div>
                <div class="add-area mb-4">
                    <a href="#"><img src="~/Assets/image/47.png" alt="img"></a>
                </div>
                <div class="row">
                </div>
                <nav class="mt-4 text-center">
                    <ul class="pagination">
                        <li class="page-item prev"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

