#Advertisment {
    margin-bottom: 50px;
    .container {
        .row {
            .page {
                max-width: 550px;
                color: $secondary-color;
                h1 {
                    color: red;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    font-size: 42px;
                    font-family: "pf_din_text_cond_promedium", Arial, sans-serif;
                    font-weight: 500;
                }
                p {
                    color: #739e5b;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    line-height: 1.6;
                    font-size: 18px;
                    font-family: Arial, sans-serif;
                    a {
                        color: #739e5b;
                    }
                    span {
                        a {}
                    }
                }
                h2 {
                    margin-top: 0;
                    margin-bottom: 20px;
                    font-size: 28px;
                    color: #13317F;
                    font-family: "pf_din_text_cond_promedium", Arial, sans-serif;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #Advertisment {
        .container {
            .row {
                .col-lg-3 {
                    display: none;
                }
                .page {
                    h1 {}
                    p {
                        a {}
                        span {
                            a {}
                        }
                    }
                    h2 {}
                }
            }
        }
    }
}