#Details {
    padding-bottom: 80px;
    .container {
        .row {
            .pd-top-50 {
                padding-top: 50px;
                .blog-details-page-inner {
                    .single-blog-inner {
                        .single-post-wrap {
                            position: relative;
                            margin-bottom: 30px;
                            transition: 0.4s;
                            &:hover .thumb img {
                                transform: scale(1.06);
                            }
                            &:hover .thumb::before {
                                visibility: visible;
                                opacity: 1;
                            }
                            .thumb {
                                position: relative;
                                overflow: hidden;
                                &::before {
                                    content: "";
                                    background: linear-gradient(to top, rgba(32, 22, 84, .38) 52%, rgba(0, 0, 100, 0));
                                    height: 75%;
                                    left: 0;
                                    position: absolute;
                                    bottom: 0;
                                    border-radius: 5px;
                                    width: 100%;
                                    z-index: 4;
                                    transition: .4s;
                                    visibility: hidden;
                                    opacity: 0;
                                }
                                &::after {
                                    content: "";
                                    background: linear-gradient(to top, rgba(32, 22, 84, .6) 52%, rgba(0, 0, 100, 0));
                                    height: 70%;
                                    left: 0;
                                    position: absolute;
                                    bottom: 0;
                                    border-radius: 5px;
                                    width: 100%;
                                    z-index: 3;
                                    transition: .4s;
                                }
                                img {
                                    min-height: 119px;
                                    transition: .8s;
                                    transform: scale(1.01);
                                    max-width: 100%;
                                }
                            }
                            .details {
                                position: absolute;
                                bottom: 0;
                                padding: 18px 20px;
                                z-index: 4;
                                padding-bottom: 24px;
                                .post-meta-single {
                                    margin-bottom: 8px;
                                    ul {
                                        li {
                                            color: $third-color;
                                            display: inline-block;
                                            margin: 0 6px;
                                            margin-left: 0;
                                            font-family: $font-family;
                                            a {
                                                height: 28px;
                                                line-height: 28px;
                                                padding: 0 14px;
                                                display: inline-block;
                                                border-radius: 3px;
                                                font-size: 15px;
                                                color: $third-color;
                                                background: $primary-color;
                                                text-decoration: none;
                                                font-family: $font-family;
                                            }
                                            p {
                                                margin-bottom: 10px;
                                                color: $third-color;
                                                font-family: $font-family;
                                                i {
                                                    margin-right: 5px;
                                                }
                                            }
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                            .title {
                                color: $third-color;
                                font-family: $font-family;
                                font-weight: 500;
                                font-size: 24px;
                            }
                        }
                        .single-blog-details {
                            margin: 35px 0;
                            p {
                                margin-bottom: 35px;
                                font-size: 16px;
                                color: #696969;
                                margin-top: 21px;
                                line-height: 1.7;
                                font-family: $font-family;
                            }
                            blockquote {
                                padding: 14px 48px 35px 140px;
                                background: #f2f8fe;
                                position: relative;
                                margin-bottom: 16px;
                                font-size: 20px;
                                margin: 0 0 16px;
                                i {
                                    font-size: 70px;
                                    position: absolute;
                                    left: 40px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                p {
                                    margin-bottom: 35px;
                                    font-size: 16px;
                                    color: #696969;
                                    margin-top: 21px;
                                    line-height: 1.7;
                                    font-family: $font-family;
                                }
                            }
                        }
                        p {
                            margin-bottom: 35px;
                            font-size: 16px;
                            color: #696969;
                            margin-top: 21px;
                            line-height: 1.7;
                            font-family: $font-family;
                        }
                        .add-area {
                            a {
                                text-decoration: none;
                                outline: none;
                                color: inherit;
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                        h5 {
                            margin-top: 35px;
                            margin-bottom: 15px;
                            font-size: 24px;
                            line-height: 1.3380952381;
                            font-family: $font-family;
                            font-weight: 500;
                            color: $secondary-color;
                        }
                        .thumb {
                            position: relative;
                            img {
                                max-width: 100%;
                                vertical-align: middle;
                                border-style: none;
                            }
                        }
                        img {
                            max-width: 100%;
                            vertical-align: middle;
                            border-style: none;
                        }
                        .video-area {
                            h5 {
                                margin-top: 35px;
                                margin-bottom: 15px;
                                font-size: 24px;
                                line-height: 1.3380952381;
                                font-family: $font-family;
                                font-weight: 500;
                                color: $secondary-color;
                            }
                            .single-blog-inner {
                                margin-bottom: 24px;
                                .thumb {
                                    position: relative;
                                    img {
                                        max-width: 100%;
                                        vertical-align: middle;
                                        border-style: none;
                                    }
                                    a {
                                        width: 100px;
                                        height: 100px;
                                        border-radius: 50%;
                                        background-color: #fff;
                                        display: inline-block;
                                        position: absolute;
                                        z-index: 1;
                                        left: 50%;
                                        text-align: center;
                                        line-height: 100px;
                                        top: 50%;
                                        margin: -50px 0 0 -50px;
                                    }
                                }
                            }
                        }
                        .meta {
                            color: #696969;
                            font-size: 18px;
                            margin-top: 31px;
                            .tags {
                                span {
                                    color: #14212b;
                                    font-size: 18px;
                                    font-weight: 500;
                                    font-family: $font-family;
                                }
                                a {
                                    text-decoration: none;
                                    outline: none;
                                    color: inherit;
                                    transition: 0.4s;
                                    font-family: $font-family;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                            .blog-share {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                span {
                                    color: #14212b;
                                    font-size: 18px;
                                    font-weight: 500;
                                    font-family: $font-family;
                                }
                                .social-area {
                                    display: flex;
                                    li {
                                        margin: 0 6px;
                                        .facebook-icon {
                                            background: #3b5998;
                                            color: $third-color;
                                            width: 32px;
                                            height: 32px;
                                            display: inline-block;
                                            line-height: 34px;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: linear 0.3s;
                                            &:hover {
                                                color: $primary-color;
                                            }
                                            i {}
                                        }
                                        .twitter-icon {
                                            background: #55acee;
                                            color: $third-color;
                                            width: 32px;
                                            height: 32px;
                                            display: inline-block;
                                            line-height: 34px;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: linear 0.3s;
                                            &:hover {
                                                color: $primary-color;
                                            }
                                            i {}
                                        }
                                        .youtube-icon {
                                            background: #d42428;
                                            color: $third-color;
                                            width: 32px;
                                            height: 32px;
                                            display: inline-block;
                                            line-height: 34px;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: linear 0.3s;
                                            &:hover {
                                                color: $primary-color;
                                            }
                                            i {}
                                        }
                                        .instagram-icon {
                                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                                            color: $third-color;
                                            width: 32px;
                                            height: 32px;
                                            display: inline-block;
                                            line-height: 34px;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: linear 0.3s;
                                            &:hover {
                                                color: $primary-color;
                                            }
                                            i {}
                                        }
                                        .google-icon {
                                            background: #dc4e41;
                                            color: $third-color;
                                            width: 32px;
                                            height: 32px;
                                            display: inline-block;
                                            line-height: 34px;
                                            text-align: center;
                                            border-radius: 50%;
                                            transition: linear 0.3s;
                                            &:hover {
                                                color: $primary-color;
                                            }
                                            i {}
                                        }
                                    }
                                }
                            }
                        }
                        .author-area {
                            padding: 40px;
                            margin-top: 70px;
                            background: #f2f8fe;
                            .media {
                                display: flex;
                                align-items: flex-start;
                                img {
                                    max-width: 100%;
                                    vertical-align: middle;
                                    border-style: none;
                                }
                                .media-body {
                                    margin-left: 29px;
                                    h4 {
                                        font-family: $font-family;
                                        font-weight: 500;
                                        font-size: 30px;
                                        line-height: 1.3380952381;
                                        color: $secondary-color;
                                    }
                                    p {
                                        font-size: 15px;
                                        color: #696969;
                                        margin-bottom: 0;
                                        font-family: $font-family;
                                        line-height: 1.7;
                                    }
                                }
                            }
                        }
                    }
                    .related-post {
                        margin-top: 70px;
                        .section-title {
                            position: relative;
                            padding-bottom: 34px;
                            h5 {
                                font-family: $font-family;
                                font-weight: 500;
                                font-size: 30px;
                                line-height: 1.3380952381;
                                color: $secondary-color;
                            }
                        }
                        .single-post-wrap {
                            position: relative;
                            margin-bottom: 30px;
                            transition: .4s;
                            &:hover .thumb img {
                                transform: scale(1.06);
                            }
                            .thumb {
                                position: relative;
                                margin-bottom: 27px;
                                overflow: hidden;
                                border-radius: 5px;
                                img {
                                    transition: .8s;
                                    transform: scale(1.01);
                                    max-width: 100%;
                                }
                                a {
                                    position: absolute;
                                    left: 17px;
                                    top: 19px;
                                    z-index: 3;
                                    height: 28px;
                                    line-height: 28px;
                                    padding: 0 14px;
                                    display: inline-block;
                                    border-radius: 3px;
                                    font-size: 15px;
                                    text-decoration: none;
                                    background: $primary-color;
                                    color: $third-color;
                                    font-family: $font-family;
                                }
                            }
                            .details {
                                .post-meta-single {
                                    ul {
                                        li {
                                            display: inline-block;
                                            margin: 0 6px;
                                            font-size: $font-size;
                                            color: $secondary-color;
                                            margin-left: 0;
                                            font-family: $font-family;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                                .title {
                                    font-family: $font-family;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 1.3380952381;
                                    color: $secondary-color;
                                    a {
                                        text-decoration: none;
                                        color: $secondary-color;
                                        transition: 0.3s;
                                        &:hover {
                                            color: $primary-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .blog-comment {
                        margin-top: 67px;
                        .section-title {
                            margin-bottom: 28px;
                            position: relative;
                            padding-bottom: 34px;
                            width: 100%;
                            h4 {
                                font-family: $font-family;
                                font-weight: 500;
                                font-size: 30px;
                                line-height: 1.3380952381;
                                color: $secondary-color;
                            }
                        }
                        .nesting {
                            margin-left: 60px;
                        }
                        .media {
                            align-items: center;
                            margin-bottom: 35px;
                            display: flex;
                            a {
                                text-decoration: none;
                                outline: none;
                                color: inherit;
                                text-decoration: none;
                                transition: 0.2s;
                                img {
                                    max-width: 100%;
                                    border-radius: 50%;
                                }
                            }
                            .media-body {
                                margin-left: 30px;
                                h5 {
                                    font-family: $font-family;
                                    font-weight: 500;
                                    font-size: 30px;
                                    line-height: 1.3380952381;
                                    color: $secondary-color;
                                    display: inline-block;
                                    a {
                                        font-size: 18px;
                                        font-weight: 700;
                                        color: #14212b;
                                        text-decoration: none;
                                    }
                                }
                                span {
                                    font-size: 13px;
                                    color: #616161;
                                    margin-left: 14px;
                                    font-family: $font-family;
                                }
                                p {
                                    font-size: 15px;
                                    color: #696969;
                                    margin-bottom: 10px;
                                    font-family: $font-family;
                                    line-height: 25px;
                                }
                                a {
                                    font-size: 18px;
                                    font-weight: 500;
                                    color: #696969;
                                    text-decoration: none;
                                    font-family: $font-family;
                                    transition: 0.4s;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                    i {
                                        font: 16px/1 LineAwesome;
                                        font-size: inherit;
                                        text-decoration: inherit;
                                        text-rendering: optimizeLegibility;
                                        text-transform: none;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .comment-form {
                        margin-top: 70px;
                        .section-title {
                            position: relative;
                            padding-bottom: 34px;
                            width: 100%;
                            h4 {
                                font-family: $font-family;
                                font-weight: 500;
                                font-size: 30px;
                                line-height: 1.3380952381;
                                color: $secondary-color;
                            }
                        }
                        .contact-form-wrap {
                            .single-input-wrap {
                                margin-bottom: 30px;
                                border: 2px solid #dbdfe5;
                                display: flex;
                                align-items: stretch;
                                width: 100%;
                                textarea {
                                    padding: 18px 22px;
                                    border: 0;
                                }
                                input {
                                    height: 60px;
                                    line-height: 60px;
                                    padding: 0 22px;
                                    border: 0;
                                }
                                .input-group-prepend {
                                    display: flex;
                                    .input-group-text {
                                        background: transparent;
                                        border: 0;
                                        padding: 0 20px;
                                        display: flex;
                                        align-items: normal;
                                        margin-top: 18px;
                                        i {}
                                    }
                                }
                            }
                            .sumbit-area {
                                button {
                                    height: 48px;
                                    line-height: 48px;
                                    padding: 0 35px;
                                    overflow: hidden;
                                    position: relative;
                                    border: 0;
                                    transition: all .5s ease;
                                    font-weight: 500;
                                    font-size: 16px;
                                    display: inline-block;
                                    transform: perspective(1px) translateZ(0);
                                    border-radius: 5px;
                                    background: $primary-color;
                                    color: $third-color;
                                    font-family: $font-family;
                                    border: 0;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        z-index: -1;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        background: #283f62;
                                        transform: scaleX(0);
                                        transform-origin: 0 50%;
                                        transition-duration: .4s;
                                    }
                                    &:hover::before,
                                    .btn-base:focus::before {
                                        transform: scaleX(1);
                                    }
                                }
                            }
                        }
                    }
                }
                .Latest-title {
                    border-bottom: 1px solid #b3b3b3;
                    padding-bottom: 15px;
                    position: relative;
                    .title {
                        margin-bottom: 0;
                        font-size: 20px;
                        display: inline-block;
                        color: $secondary-color;
                        font-family: $font-family;
                        font-weight: 500;
                    }
                }
                .custom-gutters-14 {
                    padding: 0 8px;
                    margin-bottom: 55px;
                    .single-category-inner {
                        position: relative;
                        margin-bottom: 15px;
                        &::after {
                            content: "";
                            background: rgba(0, 0, 0, 0.5);
                            height: 100%;
                            left: 0;
                            position: absolute;
                            bottom: 0;
                            border-radius: 5px;
                            width: 100%;
                            z-index: 3;
                            transition: 0.4s;
                        }
                        img {
                            max-width: 100%;
                            vertical-align: middle;
                        }
                        .tag-base {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 50%;
                            margin-top: -14px;
                            z-index: 4;
                            border-radius: 30px;
                            padding: 0 25px;
                            background: $primary-color;
                            color: $third-color;
                            text-decoration: none;
                            height: 28px;
                            line-height: 28px;
                            transition: linear 0.3s;
                            display: inline-block;
                            font-family: $font-family;
                            &:hover {
                                background: #0f68c0;
                            }
                        }
                    }
                }
                .widget-social {
                    margin-bottom: 55px;
                    .widget-title {
                        border-bottom: 1px solid #b3b3b3;
                        padding-bottom: 16px;
                        margin-bottom: 20px;
                        font-family: $font-family;
                        font-weight: 500;
                        color: $secondary-color;
                        font-size: 18px;
                        line-height: 1.3380952381;
                    }
                    .social-area {
                        li {
                            margin: 0 6px;
                            display: inline-block;
                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                font-size: $font-size;
                                text-decoration: none;
                                outline: none;
                                color: inherit;
                                font-family: $font-family;
                                &:hover {
                                    color: $primary-color;
                                }
                                i {
                                    height: 40px;
                                    width: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    border-radius: 50%;
                                    display: inline-block;
                                    color: $third-color;
                                }
                                .fa-facebook {
                                    background: #3b5998;
                                }
                                .fa-twitter {
                                    background: #55acee;
                                }
                                .fa-youtube-play {
                                    background: #d42428;
                                }
                                .fa-instagram {
                                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                                }
                                .fa-google-plus {
                                    background: #dc4e41;
                                }
                            }
                        }
                    }
                }
                .section-title {
                    position: relative;
                    padding-bottom: 34px;
                    width: 262.5px;
                    .title {
                        margin-bottom: 0;
                        font-size: 20px;
                        display: inline-block;
                        color: $secondary-color;
                        font-family: $font-family;
                        font-weight: 500;
                    }
                }
                .section-slider {
                    position: relative;
                    margin-bottom: 55px;
                    .item {
                        .slick-prev {
                            display: block;
                            position: absolute;
                            top: -9%;
                            left: 79%;
                            &::before {
                                color: blue;
                                background: transparent;
                            }
                        }
                        .slick-next {
                            display: block;
                            position: absolute;
                            top: -9%;
                            right: 1%;
                            &::before {
                                color: blue;
                                background: transparent;
                            }
                        }
                        .trending-post {
                            .single-post-wrap {
                                margin-bottom: 25px;
                                position: relative;
                                transition: 0.4s;
                                .thumb {
                                    position: relative;
                                    margin-bottom: 0px;
                                    overflow: hidden;
                                    border-radius: 5px;
                                    img {
                                        transition: 0.8s;
                                        transform: scale(1.01);
                                        min-height: 119px;
                                        max-width: 100%;
                                        vertical-align: middle;
                                    }
                                    &::before {
                                        content: "";
                                        background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
                                        height: 75%;
                                        left: 0;
                                        position: absolute;
                                        bottom: 0;
                                        border-radius: 5px;
                                        width: 100%;
                                        z-index: 4;
                                        transition: 0.4s;
                                        visibility: hidden;
                                        opacity: 0;
                                    }
                                    &::after {
                                        content: "";
                                        background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
                                        height: 70%;
                                        left: 0;
                                        position: absolute;
                                        bottom: 0;
                                        border-radius: 5px;
                                        width: 100%;
                                        z-index: 3;
                                        transition: 0.4s;
                                    }
                                }
                                .details {
                                    position: absolute;
                                    bottom: 0;
                                    padding: 18px 20px;
                                    z-index: 4;
                                    .post-meta-single {
                                        margin-bottom: 8px;
                                        p {
                                            color: $third-color;
                                            font-family: $font-family;
                                            margin-bottom: 7px;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                    h6 {
                                        a {
                                            text-decoration: none;
                                            color: $third-color;
                                            font-family: $font-family;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .icon-slider {
                        display: inline-block;
                        position: absolute;
                        top: -54px;
                        right: -4px;
                        button {
                            margin-left: 21px;
                            background: transparent;
                            border: 0;
                            cursor: pointer;
                            padding: 0;
                            color: $primary-color;
                            font-size: 20px;
                        }
                    }
                }
                .Latest-post-list-wrap {
                    margin-bottom: 17px;
                    .Gallery {
                        display: flex;
                        .gallery-left {
                            margin-right: 13px;
                            position: relative;
                            img {
                                max-width: 75px;
                            }
                        }
                        .gallery-body {
                            .details {
                                .post-meta-single {
                                    ul {
                                        margin-bottom: 10px;
                                        li {
                                            font-size: 14px;
                                            color: #201654;
                                            font-family: $font-family;
                                            i {
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                                .title {
                                    a {
                                        text-decoration: none;
                                        color: #201654;
                                        font-weight: 500;
                                        font-size: 14px;
                                        font-family: $font-family;
                                        display: inline-block;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
                .nxp-tab-inner {
                    .nav-tabs {
                        border: 1px solid #f1f3f5 !important;
                        line-height: 1;
                        .active{
                            background: #097bed !important;
                            color: #fff !important;
                        }
                        .nav-item {
                            margin: 0;
                            display: inline-block;
                            border-right: 1px solid #f1f3f5;
                            line-height: 1;
                            width: 33.33%;
                            .active {
                                background: $primary-color !important;
                                color: #fff !important;
                            }
                            .nav-link {
                                border-radius: unset;
                                color: inherit;
                                font-family: $font-family;
                                font-size: 16px;
                                border: 0 !important;
                                padding: 0;
                                text-align: center;
                                height: 40px;
                                line-height: 40px;
                            }
                        }
                    }
                }
                .single-newsletter-inner {
                    padding: 22px 25px 30px 25px;
                    border-radius: 5px;
                    background: $primary-color;
                    margin-top: 64px;
                    h5 {
                        color: $third-color;
                        font-weight: 500;
                        font-family: $font-family;
                        font-size: 24px;
                        line-height: 1.3380952381;
                    }
                    p {
                        color: $third-color;
                        margin-bottom: 28px;
                        font-family: $font-family;
                        line-height: 28px;
                    }
                    .single-input-inner {
                        margin-bottom: 12px;
                         ::placeholder {
                            color: $background !important;
                            font-family: $font-family;
                        }
                        input {
                            background: transparent;
                            color: $third-color;
                            height: 48px;
                            width: 100%;
                            border-radius: 5px;
                            border: 1px solid rgba(255, 255, 255, 0.5) !important;
                            padding: 0 18px;
                            font-size: inherit;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    a {
                        cursor: pointer;
                        background: $third-color;
                        color: $secondary-color;
                        border: 0;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 35px;
                        overflow: hidden;
                        position: relative;
                        border: 0;
                        transition: all 0.5s ease;
                        font-weight: 500;
                        font-size: 16px;
                        display: inline-block;
                        transform: perspective(1px) translateZ(0);
                        border-radius: 5px;
                        font-family: $font-family;
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #283f62;
                            transform: scaleX(0);
                            transform-origin: 0 50%;
                            transition-duration: 0.4s;
                        }
                        &:hover ::before {
                            transform: scaleX(1);
                            background: #283f62;
                        }
                    }
                }
            }
        }
    }
}