#popular-news {
    background: #f7fbff;
    padding-top: 80px;
    padding-bottom: 60px;
    .container {
        .row {
            .single-post-wrap {
                position: relative;
                margin-bottom: 30px;
                transition: 0.4s;
                &:hover .thumb img {
                    transform: scale(1.06);
                }
                &:hover .thumb::before {
                    visibility: visible;
                    opacity: 1;
                }
                .thumb {
                    position: relative;
                    margin-bottom: 27px;
                    overflow: hidden;
                    border-radius: 5px;
                    &::after {
                        content: "";
                        background: linear-gradient(to top, rgba(32, 22, 84, 0.6) 52%, rgba(0, 0, 100, 0));
                        height: 70%;
                        left: 0;
                        position: absolute;
                        bottom: 0;
                        border-radius: 5px;
                        width: 100%;
                        z-index: 3;
                        transition: 0.4s;
                    }
                    &::before {
                        content: "";
                        background: linear-gradient(to top, rgba(32, 22, 84, 0.38) 52%, rgba(0, 0, 100, 0));
                        height: 75%;
                        left: 0;
                        position: absolute;
                        bottom: 0;
                        border-radius: 5px;
                        width: 100%;
                        z-index: 4;
                        transition: 0.4s;
                        visibility: hidden;
                        opacity: 0;
                    }
                    img {
                        max-width: 100%;
                        transition: 0.8s;
                        transform: scale(1.01);
                    }
                    .tag-base {
                        position: absolute;
                        left: 17px;
                        top: 19px;
                        z-index: 3;
                        background: $primary-color;
                        color: $third-color;
                        text-decoration: none;
                        height: 28px;
                        line-height: 28px;
                        padding: 0 14px;
                        display: inline-block;
                        border-radius: 3px;
                        font-size: 15px;
                        font-family: $font-family;
                    }
                }
                .details {
                    position: absolute;
                    bottom: 0;
                    padding: 18px 20px;
                    z-index: 4;
                    .post-meta-single {
                        margin-bottom: 8px;
                        p {
                            line-height: 20px;
                            color: $third-color;
                            font-size: $font-size;
                            font-family: $font-family;
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                    .title {
                        color: $third-color;
                        font-weight: 500;
                        font-family: $font-family;
                        a {
                            text-decoration: none;
                            color: $third-color;
                            line-height: 33px;
                            font-size: 24px;
                            transition: linear 0.4s;
                            &:hover {
                                color: #FFBE00;
                            }
                        }
                    }
                }
            }
            .Latest-post-list-wrap {
                margin-bottom: 17px;
                .Gallery {
                    display: flex;
                    .gallery-left {
                        margin-right: 13px;
                        position: relative;
                        img {
                            max-width: 75px;
                        }
                    }
                    .gallery-body {
                        .details {
                            .post-meta-single {
                                ul {
                                    margin-bottom: 10px;
                                    li {
                                        font-size: 14px;
                                        color: #201654;
                                        font-family: $font-family;
                                        i {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                            .title {
                                a {
                                    text-decoration: none;
                                    color: #201654;
                                    font-weight: 500;
                                    font-size: 14px;
                                    font-family: $font-family;
                                    display: inline-block;
                                    line-height: 21px;
                                }
                            }
                        }
                    }
                }
            }
            .nxp-tab-inner {
                .nav-tabs {
                    border: 1px solid #f1f3f5 !important;
                    line-height: 1;
                    .nav-item {
                        margin: 0;
                        display: inline-block;
                        border-right: 1px solid #f1f3f5;
                        line-height: 1;
                        width: 33.33%;
                        .nav-link {
                            border-radius: unset;
                            color: inherit;
                            font-family: $font-family;
                            font-size: 16px;
                            border: 0 !important;
                            padding: 0;
                            text-align: center;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    .active {
                        background: $primary-color !important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
}